<div class="container mt-4">
  <div class="book-body">
    <div class="row">
      <div class="col-12">
        <div class="row g-3">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let book of books$">
            <div class="card h-100">
              <img class="card-img-top" src="../../../../assets/images/ds.jpg" alt="Book Cover">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text description">{{ book.description }}</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Price: {{ book.price | currency }}</p>
                <div class="number-input">
                  <form [formGroup]="cartForm">
                    <input [formControlName]="'quantity'" class="quantity" min="1" max="5" name="quantity" value="1" type="number">
                  </form>
                </div>
                <ng-container *ngIf="book.bookStock !== 0; else offBlock">
                  <a (click)="addToCart(book.bookId)" class="btn btn-primary">Add to Basket</a>
                </ng-container>
                <ng-template #offBlock>
                  <a class="btn btn-secondary disabled">Currently Unavailable</a>
                </ng-template>
                <!-- Admin Actions (Edit and Delete) -->
                <div *ngIf="isAdmin()" class="admin-actions mt-2">

                  <a (click)="editBook(book.bookId)" class="btn btn-info">
                    <img src="../../../../assets/icons/edit.svg" alt="Edit" class="icon"> Edit
                  </a>
                  <a (click)="deleteBook(book.bookId)" class="btn btn-danger ml-2">
                    <img src="../../../../assets/icons/delete.svg" alt="Delete" class="icon"> Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center mt-4">
          <li class="page-item" *ngIf="page > 1; else previous">
            <a class="page-link"
               [routerLink]="['/books']"
               [queryParams]="{ page: page - 1, size: size }">
              Previous
            </a>
          </li>
          <li class="page-item" *ngIf="books$.length === size; else next">
            <a class="page-link"
               [routerLink]="['/books']"
               [queryParams]="{ page: page + 1, size: size }">
              Next
            </a>
          </li>
          <ng-template #previous>
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
          </ng-template>
          <ng-template #next>
            <li class="page-item disabled">
              <a class="page-link">Next</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
