/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* Other global styles */

  html, body { height: 100%; background-color: whitesmoke}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
