<header>
  <nav class="navbar navbar-expand-lg">
    <div class="flex-grow-1">
      <span class="bookstore-text font-weight-light">Free shipping, 30-day return or refund guarantee.</span>
    </div>

    <div *ngIf="isLoggedIn; else elseBlock">
      <div class="flex-grow-1 float-right font-weight-light">
        <a class="btn btn-lg btn-outline-primary login float-right" (click)="logout()">Logout</a>
      </div>
    </div>

    <ng-template #elseBlock>
      <div class="flex-grow-1 float-right font-weight-light">
        <a class="btn btn-lg btn-outline-primary login float-right mr-2" (click)="openLogin()">Login</a>
        <a class="btn btn-lg btn-outline-secondary signup float-right" (click)="openSignup()">Signup</a>
      </div>
    </ng-template>
  </nav>
</header>
